/* --- These are all the font styles. */

.o-infotext{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.o-header__bold{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.o-cardheader__semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.o-cardtext__medium{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* --- Here end the font styles */